.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 31px, 0.03em);
  display: inline-block;
}

.logo--black {
  color: var(--tittle-text-color);
}

.logo--white {
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}
