.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 31px, 0.03em);
}

.logo__black {
  color: var(--tittle-text-color);
}

.logo__white {
  display: inline-block;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}
